
<br />
<br />
<form (ngSubmit)="SavePatient()" #heroForm="ngForm">
    <div class="row">
        <div class="col-sm-1">Name :</div>
        <div class="col-sm-4"><input type="text" placeholder="Name" [(ngModel)]="Name" class="form-control" required/></div>
    </div><br />
    <div class="row">
        <div class="col-sm-1">Surname :</div>
        <div class="col-sm-4"><input type="text" placeholder="Surname" [(ngModel)]="Surname" class="form-control" /></div>
    </div><br />
    <div class="row">
        <div class="col-sm-1">DOB :</div>
        <div class="col-sm-4"><input type="text" placeholder="DOB" [(ngModel)]="DOB" class="form-control" /></div>
    </div><br />
    <div class="row">
        <div class="col-sm-1">Gender :</div>
        <div class="col-sm-4">
            <select [(ngModel)]="Gender" class="form-control">
                <option value="-1" disabled>Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-1">State :</div>
        <div class="col-sm-4">
            <select [(ngModel)]="StateId" (change)="ChangeState($event.target.value)" class="form-control">
                <option value="-1" disabled>Select</option>
                <option *ngFor="let state of states" value={{state.id}}>
                    {{state.name}}
                </option>
            </select>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-1">City :</div>
        <div class="col-sm-4">
            <select [(ngModel)]="CityId" class="form-control">
                <option value="-1" disabled>Select</option>
                <option *ngFor="let city of cities" value={{city.id}}>
                    {{city.name}}
                </option>
            </select>
        </div>
    </div><br />

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" style="float:right">Save</button>
        </div>
    </div>
</form>